# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Github Repositories\AWS-Important-Files-Commands\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
